@import url(./css/norm.css);
@import url(./css/header.css);
@import url(./css/presentation.css);
@import url(./css/logo_line.css);
@import url(./css/new_arrivals.css);
@import url(./css/pay_day.css);
@import url(./css/young_fav.css);
@import url(./css/app_styles.css);
@import url(./css/footer.css);
@import url(./css/pre_footer.css);

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

body {
    width: 100wv;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 0;
    background-color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #8e8e8e;
}
a:hover {
    transform: scale(1.2);
}
